files:
    /etc/nginx/conf.d/redirects/03.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-3094
            rewrite ^/drug-abuse/time-to-seek-treatment/?$ https://$host/addiction-research/time-to-seek-treatment/ permanent;
            #FACILITY-3199
            rewrite ^/alcoholism/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/alcohol-abuse/manage-withdrawal/?$ https://$host/alcoholism/withdrawal/ permanent;
            #FACILITY-3426
            rewrite ^/alcoholism/trauma/?$ https://$host/alcohol-abuse/trauma/ permanent;
            rewrite ^/alcoholism/neuropathy/?$ https://$host/alcohol-abuse/neuropathy/ permanent;
            rewrite ^/alcoholism/triglycerides/?$ https://$host/alcohol-abuse/triglycerides/ permanent;
            rewrite ^/medical-detox/ready-alcohol/?$ https://$host/medical-detox/alcohol/ permanent;
            rewrite ^/medical-detox/quitting-alcohol/?$ https://$host/medical-detox/alcohol/ permanent;
            #FACILITY-3753
            rewrite ^/addiction-research/southern-california-rehab-guide/mission-viejo-resources/?$ https://$host/addiction-research/southern-california-rehab-guide/orange-county/ permanent;
            rewrite ^/addiction-research/southern-california-rehab-guide/orange-county-rehab-guide/?$ https://$host/addiction-research/southern-california-rehab-guide/orange-county/ permanent;
            #FACILITY-3754
            rewrite ^/contributor/?$ https://$host/contributors/ permanent;
            rewrite ^/drug-abuse/opioid-detox/?$ https://$host/drug-abuse/opioids/ permanent;
            rewrite ^/drug-abuse/opioid-during-pregnancy/?$ https://$host/drug-abuse/opioids/pregnancy/ permanent;
            rewrite ^/drug-abuse/hydrocodone/?$ https://$host/drug-abuse/opioids/hydrocodone/ permanent;
            rewrite ^/drug-abuse/norco-dangers/?$ https://$host/drug-abuse/opioids/hydrocodone/norco/ permanent;
            rewrite ^/drug-abuse/percocet/?$ https://$host/drug-abuse/opioids/oxycodone/ permanent;
            rewrite ^/drug-abuse/tramadol/symptoms/?$ https://$host/drug-abuse/opioids/tramadol/ permanent;
            rewrite ^/drug-abuse/tramadol/withdrawal/?$ https://$host/drug-abuse/opioids/tramadol/withdrawal/ permanent;
            rewrite ^/medical-detox/morphine/?$ https://$host/drug-abuse/opioids/morphine/ permanent;
            rewrite ^/drug-abuse/nalbuphine/?$ https://$host/drug-abuse/opioids/ permanent;
            rewrite ^/drug-abuse/nalbuphine/detox/?$ https://$host/drug-abuse/opioids/ permanent;
            rewrite ^/drug-abuse/butorphanol/detox/?$ https://$host/drug-abuse/opioids/ permanent;
            rewrite ^/drug-abuse/hydrocodone/detox/?$ https://$host/drug-abuse/opioids/hydrocodone/ permanent;
            rewrite ^/drug-abuse/norco-dangers/withdrawal-effects/?$ https://$host/drug-abuse/opioids/hydrocodone/norco/ permanent;
            rewrite ^/drug-abuse/percocet/college/?$ https://$host/drug-abuse/opioids/oxycodone/ permanent;
            rewrite ^/drug-abuse/tramadol/?$ https://$host/drug-abuse/opioids/tramadol/ permanent;
            rewrite ^/medical-detox/oxycodone-symptoms-withdrawal/?$ https://$host/drug-abuse/opioids/oxycodone/ permanent;
            rewrite ^/blog/california-crackdown-on-overprescribing-doctors/?$ https://$host/drug-abuse/opioids/ permanent;
            rewrite ^/blog/to-reduce-opioids-or-not-california-doctor-fights/?$ https://$host/drug-abuse/opioids/ permanent;
            rewrite ^/drug-abuse/opioids/hydrocodone/detox/?$ https://$host/drug-abuse/opioids/hydrocodone/ permanent;
            rewrite ^/drug-abuse/opioids/hydrocodone/norco/withdrawal-effects/?$ https://$host/drug-abuse/opioids/hydrocodone/norco/ permanent;
            rewrite ^/drug-abuse/opioids/oxycodone/college/?$ https://$host/drug-abuse/opioids/oxycodone/ permanent;
            rewrite ^/drug-abuse/opioids/tramadol/symptoms/?$ https://$host/drug-abuse/opioids/tramadol/ permanent;
            #FACILITY-4493
            rewrite ^/contributors/paul-little/?$ https://$host/staff/ permanent;
            rewrite ^/contributors/lynnette-mitchell/?$ https://$host/contributors/melanie-uribe/ permanent;
            rewrite ^/blog/fentanyl-overdose-deaths/?$ https://$host/drug-abuse/fentanyl/ permanent;
            rewrite ^/blog/fentanyl-overdose/?$ https://$host/drug-abuse/fentanyl/ permanent;
            rewrite ^/blog/fentanyl-prescription-drugs-cause-of-higher-rates-of-san-diego-overdose-deaths/?$ https://$host/drug-abuse/fentanyl/ permanent;
            rewrite ^/blog/fentanyl-shipment/?$ https://$host/drug-abuse/fentanyl/ permanent;
            rewrite ^/blog/fentanyl-test-strips-the-way-out/?$ https://$host/drug-abuse/fentanyl/ permanent;
            #FACILITY-917
            rewrite ^/detox-hospital-california/what-to-expect/?$ https://$host/detox-hospital-california/admissions/ permanent;
            #FACILITY-4784
            rewrite ^/detox-hospital-california/what-to-expect/families/?$ https://$host/detox-hospital-california/admissions/families/ permanent;
            rewrite ^/detox-hospital-california/what-to-expect/families/after-rehab/?$ https://$host/detox-hospital-california/admissions/families/after-rehab/ permanent;
            rewrite ^/detox-hospital-california/what-to-expect/faq/?$ https://$host/detox-hospital-california/admissions/faq/ permanent;
            rewrite ^/detox-hospital-california/what-to-expect/patients/?$ https://$host/detox-hospital-california/admissions/patients/ permanent;
            #FACILITY-4495
            rewrite ^/drug-abuse/heroin/intervention/?$ https://$host/drug-abuse/heroin/ permanent;
            rewrite ^/drug-abuse/heroin/quitting/?$ https://$host/drug-abuse/heroin/ permanent;
            rewrite ^/drug-abuse/heroin/gray-death/?$ https://$host/drug-abuse/heroin/ permanent;
            #FACILITY-5074
            rewrite ^/insurance/?$ https://$host/detox-hospital-california/payment-options/insurance/ permanent;
            rewrite ^/insurance/aetna/?$ https://$host/detox-hospital-california/payment-options/insurance/aetna/ permanent;
            rewrite ^/insurance/unitedhealth-group/?$ https://$host/detox-hospital-california/payment-options/insurance/unitedhealth-group/ permanent;
            rewrite ^/insurance/cigna/?$ https://$host/detox-hospital-california/payment-options/insurance/cigna/ permanent;
            rewrite ^/insurance/covering-detox/?$ https://$host/detox-hospital-california/payment-options/insurance/ permanent;
            rewrite ^/insurance/priority-health/?$ https://$host/detox-hospital-california/payment-options/insurance/priority-health/ permanent;
            rewrite ^/insurance/humana/?$ https://$host/detox-hospital-california/payment-options/insurance/humana/ permanent;
            rewrite ^/insurance/kaiser/?$ https://$host/detox-hospital-california/payment-options/insurance/kaiser/ permanent;
            rewrite ^/insurance/covering-detox/selecthealth/?$ https://$host/detox-hospital-california/payment-options/insurance/selecthealth/ permanent;
            rewrite ^/insurance/blue-cross-blue-shield/?$ https://$host/detox-hospital-california/payment-options/insurance/bcbs/ permanent;
            rewrite ^/insurance/blue-cross-blue-shield-for-addiction-treatment/?$ https://$host/detox-hospital-california/payment-options/insurance/bcbs/ permanent;
