files:
    /etc/nginx/conf.d/redirects/03.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            #FACILITY-3094
            rewrite ^/drug-abuse/time-to-seek-treatment/?$ https://$host/addiction-research/time-to-seek-treatment/ permanent;
            #FACILITY-3199
            rewrite ^/alcoholism/?$ https://$host/alcohol-abuse/ permanent;
            rewrite ^/alcohol-abuse/manage-withdrawal/?$ https://$host/alcoholism/withdrawal/ permanent;
            #FACILITY-3426
            rewrite ^/alcoholism/trauma/?$ https://$host/alcohol-abuse/trauma/ permanent;
            rewrite ^/alcoholism/neuropathy/?$ https://$host/alcohol-abuse/neuropathy/ permanent;
            rewrite ^/alcoholism/triglycerides/?$ https://$host/alcohol-abuse/triglycerides/ permanent;
            rewrite ^/medical-detox/ready-alcohol/?$ https://$host/medical-detox/alcohol/ permanent;
            rewrite ^/medical-detox/quitting-alcohol/?$ https://$host/medical-detox/alcohol/ permanent;
            #FACILITY-3753
            rewrite ^/addiction-research/southern-california-rehab-guide/mission-viejo-resources/?$ https://$host/addiction-research/southern-california-rehab-guide/orange-county/ permanent;
            rewrite ^/addiction-research/southern-california-rehab-guide/orange-county-rehab-guide/?$ https://$host/addiction-research/southern-california-rehab-guide/orange-county/ permanent;
