files:
    /etc/nginx/conf.d/redirects/00.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/treatment-services/therapy-types/?$ https://$host/detox-hospital-california/our-therapies/ permanent;
            rewrite ^/treatment-services/levels-of-care/?$ https://$host/program-overview/levels-of-care/ permanent;
            rewrite ^/treatment-services/aftercare/?$ https://$host/program-overview/aftercare/ permanent;
            rewrite ^/treatment-services/?$ https://$host/program-overview/ permanent;
            # FACILITY-917
            rewrite ^/detox-hospital-california/what-to-expect/?$ https://$host/detox-hospital-california/admissions/ permanent;
            ## File: FACILITY-568.conf
            rewrite ^/program-overview/?$ https://$host/detox-hospital-california/ permanent;
            rewrite ^/program-overview/levels-of-care/?$ https://$host/detox-hospital-california/levels-of-care/ permanent;
            rewrite ^/program-overview/our-therapies/?$ https://$host/detox-hospital-california/our-therapies/ permanent;
            rewrite ^/program-overview/aftercare/?$ https://$host/detox-hospital-california/aftercare/ permanent;
            rewrite ^/program-overview/alumni-program/?$ https://$host/detox-hospital-california/alumni-program/ permanent;
            rewrite ^/facility/?$ https://$host/detox-hospital-california/facility/ permanent;
            rewrite ^/facility/features-and-amenities/?$ https://$host/detox-hospital-california/features-and-amenities/ permanent;
            rewrite ^/admissions/?$ https://$host/detox-hospital-california/admissions/ permanent;
            rewrite ^/what-to-expect/?$ https://$host/detox-hospital-california/what-to-expect/ permanent;
            rewrite ^/payment-options/?$ https://$host/detox-hospital-california/payment-options/ permanent;
            rewrite ^/resources-center/?$ https://$host/addiction-resources-center/ permanent;
            ## File: FACILITY-679.conf
            rewrite ^/co-occurring-disorder/how-does-it-occur/?$ https://$host/drug-addiction/ permanent;
            rewrite ^/drug-addiction/time-to-seek-treatment/?$ https://$host/medical-detox/seek-treatment/ permanent;
            rewrite ^/outpatient-treatment/what-is-iop/?$ https://$host/intensive-outpatient-program/ permanent;
            rewrite ^/partial-hospitalization-program/cost/?$ https://$host/payment-options/ permanent;
            rewrite ^/lgbt-drug-abuse/differ-straight-treatment/www.lagunatreatment.com/contact-us/?$ https://$host/lgbt-drug-abuse/differ-straight-treatment/ permanent;
            ## File: SEO-784.conf
            rewrite ^/benzodiazepines-abuse/?$ https://$host/benzodiazepine-abuse/ permanent;
            ## Laguna IA redirects (FACILITY-816)
            rewrite ^/12-step-treatment/?$ https://$host/addiction-research/12-step-treatment/ permanent;
            rewrite ^/adderall-addiction/?$ https://$host/drug-abuse/adderall/  permanent;
            rewrite ^/adderall-addiction/concerta-withdrawal-symptoms/?$ https://$host/drug-abuse/adderall/concerta-withdrawal-symptoms permanent;
            rewrite ^/adderall-addiction/effects-on-body/?$ https://$host/drug-abuse/adderall/effects-on-body permanent;
            rewrite ^/adderall-addiction/ritalin-difference/?$ https://$host/drug-abuse/adderall/ritalin-difference/ permanent;
            rewrite ^/adderall-addiction/withdrawal/?$ https://$host/drug-abuse/adderall/withdrawal/ permanent;
            rewrite ^/adderall-addiction/xr-and-ir/?$ https://$host/drug-abuse/adderall/xr-and-ir/  permanent;
            rewrite ^/addiction-in-the-news/?$ https://$host/addiction-research/addiction-in-the-news/ permanent;
            rewrite ^/aids-and-addiction/?$ https://$host/medical-condition/aids-and-addiction/ permanent;
            rewrite ^/alcohol-detox/?$ https://$host/alcohol-abuse/detox/ permanent;
            rewrite ^/alcohol-detox/preventing-relapse/?$ https://$host/alcohol-abuse/detox/preventing-relapse/ permanent;
            rewrite ^/ambien-addiction-abuse/?$ https://$host/drug-abuse/ambien/ permanent;
            rewrite ^/ambien-addiction-abuse/side-effects/?$ https://$host/drug-abuse/ambien/side-effects/ permanent;
            rewrite ^/ambien-addiction-abuse/signs-of-abuse/?$ https://$host/drug-abuse/ambien/addiction/ permanent;
            rewrite ^/anabolic-steroid-abuse/?$ https://$host/drug-abuse/anabolic-steroids/ permanent;
            rewrite ^/anabolic-steroid-abuse/withdrawal-timeline/?$ https://$host/drug-abuse/anabolic-steroids/withdrawal-timeline/ permanent;
            rewrite ^/antidepressants-risks/?$ https://$host/drug-abuse/antidepressants/ permanent;
            rewrite ^/arthritis-and-addiction/?$ https://$host/medical-condition/arthritis-and-addiction/ permanent;
            rewrite ^/asam/?$ https://$host/addiction-research/asam/ permanent;
            rewrite ^/asam/assessment/?$ https://$host/addiction-research/asam/assessment/ permanent;
            rewrite ^/asam/definition-substance-abuse/?$ https://$host/addiction-research/asam/definition-substance-abuse/ permanent;
            rewrite ^/asam/detox/?$ https://$host/addiction-research/asam/detox/ permanent;
            rewrite ^/asam/placement-criteria/?$ https://$host/addiction-research/asam/placement-criteria/ permanent;
            rewrite ^/aspergers-syndrome/?$ https://$host/medical-condition/aspergers-syndrome-and-addiction/ permanent;
            rewrite ^/autism-and-substance-abuse/?$ https://$host/medical-condition/autism-and-addiction/ permanent;
            rewrite ^/barbiturate-abuse/?$ https://$host/drug-abuse/barbiturates/ permanent;
            rewrite ^/barbiturate-abuse/amobarbital/?$ https://$host/drug-abuse/barbiturates/amobarbital/ permanent;
            rewrite ^/barbiturate-abuse/dilantin/?$ https://$host/drug-abuse/barbiturates/dilantin/ permanent;
            rewrite ^/barbiturate-abuse/nembutal/?$ https://$host/drug-abuse/barbiturates/nembutal/ permanent;
            rewrite ^/barbiturate-abuse/secobarbital/?$ https://$host/drug-abuse/barbiturates/secobarbital/ permanent;
            rewrite ^/bdd-and-drug-use/?$ https://$host/mental-illness/body-dysmorphic-disorder/ permanent;
            rewrite ^/bdd-and-drug-use/men/?$ https://$host/mental-illness/body-dysmorphic-disorder/men/ permanent;
            rewrite ^/benzedrex-abuse/?$ https://$host/drug-abuse/benzedrex/ permanent;
            rewrite ^/benzedrex-abuse/withdrawal-symptoms/?$ https://$host/drug-abuse/benzedrex/withdrawal-symptoms/ permanent;
            rewrite ^/benzedrex-inhaler-abuse/?$ https://$host/drug-abuse/benzedrex/inhaler/ permanent;
            rewrite ^/benzodiazepine-abuse/?$ https://$host/drug-abuse/benzodiazepine/ permanent;
            rewrite ^/benzodiazepine-abuse/keppra/?$ https://$host/drug-abuse/benzodiazepine/keppra/ permanent;
            rewrite ^/butorphanol/?$ https://$host/drug-abuse/butorphanol/ permanent;
            rewrite ^/butorphanol/detox/?$ https://$host/drug-abuse/butorphanol/detox/ permanent;
            rewrite ^/cocaine-abuse/?$ https://$host/drug-abuse/cocaine/ permanent;
            rewrite ^/cocaine-abuse/additives-and-fillers/?$ https://$host/drug-abuse/cocaine/additives-and-fillers/ permanent;
            rewrite ^/cocaine-abuse/combined-with-other-substances/?$ https://$host/drug-abuse/cocaine/combined-with-other-substances/ permanent;
            rewrite ^/cocaine-abuse/effects-length/?$ https://$host/drug-abuse/cocaine/effects-length/ permanent;
            rewrite ^/cocaine-abuse/effects/?$ https://$host/drug-abuse/cocaine/effects/ permanent;
            rewrite ^/cocaine-abuse/how-addictive/?$ https://$host/drug-abuse/cocaine/how-addictive/ permanent;
            rewrite ^/cocaine-abuse/pregnant-women/?$ https://$host/drug-abuse/cocaine/pregnant-women/ permanent;
            rewrite ^/codependent-couples/?$ https://$host/mental-illness/codependent-couples/ permanent;
    /etc/nginx/conf.d/redirects/01.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/cross-addiction/?$ https://$host/addiction-research/cross-addiction/ permanent;
            rewrite ^/cross-addiction/exercise/?$ https://$host/addiction-research/cross-addiction/exercise/ permanent;
            rewrite ^/cross-addiction/gambling/?$ https://$host/addiction-research/cross-addiction/gambling/ permanent;
            rewrite ^/cross-addiction/gaming/?$ https://$host/addiction-research/cross-addiction/gaming/ permanent;
            rewrite ^/cross-addiction/love/?$ https://$host/addiction-research/cross-addiction/love/ permanent;
            rewrite ^/cross-addiction/process/?$ https://$host/addiction-research/cross-addiction/process/ permanent;
            rewrite ^/cross-addiction/sex/?$ https://$host/addiction-research/cross-addiction/sex/ permanent;
            rewrite ^/cyclobenzaprine-abuse/?$ https://$host/drug-abuse/cyclobenzaprine/ permanent;
            rewrite ^/cyclobenzaprine-abuse/signs-and-symptoms/?$ https://$host/drug-abuse/cyclobenzaprine/signs-and-symptoms/ permanent;
            rewrite ^/cyclobenzaprine-abuse/time-in-body/?$ https://$host/drug-abuse/cyclobenzaprine/time-in-body/ permanent;
            rewrite ^/cyclothymic-disorder/?$ https://$host/medical-condition/cyclothymic-disorder-and-addiction/ permanent;
            rewrite ^/diabetes-and-addiction/?$ https://$host/medical-condition/diabetes-and-addiction/ permanent;
            rewrite ^/disruptive-behavior-disorder/?$ https://$host/medical-condition/disruptive-behavior-disorder-and-addiction/ permanent;
            rewrite ^/dissociative-disorders/?$ https://$host/mental-illness/dissociative-disorders/ permanent;
            rewrite ^/domestic-violence/?$ https://$host/mental-illness/domestic-violence/ permanent;
            rewrite ^/drug-addiction/?$ https://$host/drug-abuse/ permanent;
            rewrite ^/drug-addiction/time-to-seek-treatment/?$ https://$host/addiction-research/time-to-seek-treatment/ permanent;
            rewrite ^/drug-purities-in-america/?$ https://$host/addiction-research/drug-purities-in-america/ permanent;
            rewrite ^/drug-rehab-second-time/?$ https://$host/addiction-research/drug-rehab-second-time/ permanent;
            rewrite ^/drug-withdrawal/?$ https://$host/addiction-research/drug-withdrawal/ permanent;
            rewrite ^/drug-withdrawal/is-benzo-withdrawal-deadly/?$ https://$host/addiction-research/drug-withdrawal/is-benzo-withdrawal-deadly/ permanent;
            rewrite ^/drug-withdrawal/medications/?$ https://$host/addiction-research/drug-withdrawal/medications/ permanent;
            rewrite ^/drug-withdrawal/paws/?$ https://$host/addiction-research/drug-withdrawal/paws/ permanent;
            rewrite ^/drug-withdrawal/process-addictions/?$ https://$host/addiction-research/drug-withdrawal/process-addictions/ permanent;
            rewrite ^/drug-withdrawal/prozac/?$ https://$host/addiction-research/drug-withdrawal/prozac/ permanent;
            rewrite ^/drug-withdrawal/psychological-withdrawal/?$ https://$host/addiction-research/drug-withdrawal/psychological-withdrawal/ permanent;
            rewrite ^/drug-withdrawal/various-substances/?$ https://$host/addiction-research/drug-withdrawal/various-substances/ permanent;
            rewrite ^/ease-of-access/?$ https://$host/addiction-research/ease-of-access/ permanent;
            rewrite ^/eating-disorders/?$ https://$host/mental-illness/eating-disorders/ permanent;
            rewrite ^/eating-disorders/bed/?$ https://$host/mental-illness/eating-disorders/bed/ permanent;
            rewrite ^/eating-disorders/bulimia/?$ https://$host/mental-illness/eating-disorders/bulimia/ permanent;
            rewrite ^/eating-disorders/bulimia/drug-abuse/?$ https://$host/mental-illness/eating-disorders/bulimia/drug-abuse/ permanent;
            rewrite ^/eating-disorders/diet-pill-abuse/?$ https://$host/mental-illness/eating-disorders/diet-pill-abuse/ permanent;
            rewrite ^/eating-disorders/night-eating-syndrome/?$ https://$host/mental-illness/eating-disorders/night-eating-syndrome/ permanent;
            rewrite ^/evidence-based-treatment-options/?$ https://$host/addiction-research/evidence-based-treatment-options/ permanent;
            rewrite ^/fda-drug-recalls/?$ https://$host/addiction-research/fda-drug-recalls/ permanent;
            rewrite ^/fentanyl-abuse/?$ https://$host/drug-abuse/fentanyl/ permanent;
            rewrite ^/fentanyl-abuse/mixing-with-other-drugs/?$ https://$host/drug-abuse/fentanyl/mixing-with-other-drugs/ permanent;
            rewrite ^/fentanyl-abuse/vs-oxycodone/?$ https://$host/drug-abuse/fentanyl/vs-oxycodone/ permanent;
            rewrite ^/fentanyl-abuse/withdrawal-symptoms/?$ https://$host/drug-abuse/fentanyl/withdrawal-symptoms/ permanent;
            rewrite ^/flakka-abuse/?$ https://$host/drug-abuse/flakka/ permanent;
            rewrite ^/furosemide/?$ https://$host/drug-abuse/furosemide/ permanent;
            rewrite ^/gabapentin/?$ https://$host/drug-abuse/gabapentin/ permanent;
            rewrite ^/gender-dna-role-in-treatment/?$ https://$host/addiction-research/gender-dna-role-in-treatment/ permanent;
            rewrite ^/genetics-drug-abuse/?$ https://$host/medical-condition/genetics-and-addiction/ permanent;
            rewrite ^/getting-off-antidepressants-prozac-withdrawal-and-addiction/?$ https://$host/drug-abuse/prozac/ permanent;
            rewrite ^/ghb-abuse/?$ https://$host/drug-abuse/ghb/ permanent;
            rewrite ^/hallucinogens/?$ https://$host/drug-abuse/hallucinogens/ permanent;
            rewrite ^/hallucinogens/effects-on-body/?$ https://$host/drug-abuse/hallucinogens/effects-on-body/  permanent;
            rewrite ^/hep-c/?$ https://$host/medical-condition/hep-c-and-addiction/ permanent;
            rewrite ^/heroin-abuse/?$ https://$host/drug-abuse/heroin/ permanent;
            rewrite ^/heroin-abuse/addicted-after-one-hit/?$ https://$host/drug-abuse/heroin/effects/ permanent;
            rewrite ^/heroin-abuse/dope-sick-fear/?$ https://$host/drug-abuse/heroin/withdrawal/ permanent;
            rewrite ^/heroin-abuse/gray-death/?$ https://$host/drug-abuse/heroin/gray-death/ permanent;
            rewrite ^/heroin-abuse/intervention/?$ https://$host/drug-abuse/heroin/intervention/ permanent;
            rewrite ^/heroin-abuse/pregnant-women/?$ https://$host/drug-abuse/heroin/pregnant-women/ permanent;
            rewrite ^/heroin-abuse/quitting/?$ https://$host/drug-abuse/heroin/quitting/ permanent;
            rewrite ^/holistic-treatment/?$ https://$host/addiction-research/holistic-treatment/ permanent;
            rewrite ^/hydrochlorothiazide/?$ https://$host/drug-abuse/hydrochlorothiazide/  permanent;
            rewrite ^/hydrocodone/?$ https://$host/drug-abuse/hydrocodone/  permanent;
            rewrite ^/hydrocodone/detox/?$ https://$host/drug-abuse/hydrocodone/detox/ permanent;
            rewrite ^/inpatient-vs-outpatient/?$ https://$host/addiction-research/inpatient-vs-outpatient/ permanent;
            rewrite ^/insomnia-affects-health/?$ https://$host/mental-illness/insomnia/ permanent;
            rewrite ^/insurance-cover-detox/?$ https://$host/insurance/covering-detox/ permanent;
            rewrite ^/insurance-cover-detox/selecthealth/?$ https://$host/insurance/covering-detox/selecthealth/ permanent;
            rewrite ^/insurance-pay-treatment/?$ https://$host/insurance/ permanent;
            rewrite ^/insurance-pay-treatment/aetna/?$ https://$host/insurance/aetna/ permanent;
            rewrite ^/insurance-pay-treatment/blue-cross-blue-shield/?$ https://$host/insurance/blue-cross-blue-shield/ permanent;
            rewrite ^/insurance-pay-treatment/cigna/?$ https://$host/insurance/cigna/ permanent;
            rewrite ^/insurance-pay-treatment/humana/?$ https://$host/insurance/humana/ permanent;
            rewrite ^/insurance-pay-treatment/kaiser/?$ https://$host/insurance/kaiser/ permanent;
            rewrite ^/insurance-pay-treatment/priority-health/?$ https://$host/insurance/priority-health/ permanent;
            rewrite ^/insurance-pay-treatment/unitedhealth-group/?$ https://$host/insurance/unitedhealth-group/ permanent;
            rewrite ^/intensive-outpatient-program/?$ https://$host/addiction-research/intensive-outpatient-program/ permanent;
            rewrite ^/levothyroxine/?$ https://$host/drug-abuse/levothyroxine/ permanent;
            rewrite ^/lgbt-drug-abuse/?$ https://$host/addiction-research/lgbt-drug-abuse/ permanent;
            rewrite ^/lgbt-drug-abuse/differ-straight-treatment/?$ https://$host/addiction-research/lgbt-drug-abuse/differ-straight-treatment/ permanent;
            rewrite ^/lifestyle-changes-and-self-care/?$ https://$host/addiction-research/lifestyle-changes-and-self-care/ permanent;
            rewrite ^/lipitor/?$ https://$host/drug-abuse/lipitor/  permanent;
            rewrite ^/lisinopril/?$ https://$host/drug-abuse/lisinopril/ permanent;
            rewrite ^/liver-cancer-and-alcohol/?$ https://$host/alcohol-abuse/liver-cancer/ permanent;
            rewrite ^/losartan/?$ https://$host/drug-abuse/losartan/ permanent;
            rewrite ^/losartan/withdrawal-symptoms/?$ https://$host/drug-abuse/losartan/withdrawal-symptoms/ permanent;
            rewrite ^/major-depressive-disorder/?$ https://$host/mental-illness/depression/ permanent;
            rewrite ^/major-depressive-disorder/concealed/?$ https://$host/mental-illness/depression/concealed/ permanent;
            rewrite ^/major-depressive-disorder/guided-meditation/?$ https://$host/mental-illness/depression/guided-meditation/ permanent;
            rewrite ^/major-depressive-disorder/respiratory-depression/?$ https://$host/mental-illness/depression/respiratory-depression/ permanent;
            rewrite ^/marijuana-abuse/?$ https://$host/drug-abuse/marijuana/ permanent;
            rewrite ^/marijuana-abuse/affect-your-weight/?$ https://$host/drug-abuse/marijuana/affecting-your-weight/ permanent;
            rewrite ^/marijuana-abuse/among-women/?$ https://$host/drug-abuse/marijuana/among-women/ permanent;
            rewrite ^/marijuana-abuse/buds-versus-extract/?$ https://$host/drug-abuse/marijuana/buds-versus-extract/ permanent;
            rewrite ^/marijuana-abuse/cbd-and-thc/?$ https://$host/drug-abuse/marijuana/cbd-and-thc/ permanent;
            rewrite ^/marijuana-abuse/dangerous-when-laced/?$ https://$host/drug-abuse/marijuana/lacing-danger/ permanent;
            rewrite ^/marijuana-abuse/impairs-your-driving/?$ https://$host/drug-abuse/marijuana/impairs-your-driving/ permanent;
            rewrite ^/marijuana-abuse/increase-the-risk-of-depression/?$ https://$host/drug-abuse/marijuana/increase-the-risk-of-depression/ permanent;
            rewrite ^/marijuana-abuse/pesticide-laced/?$ https://$host/drug-abuse/marijuana/pesticide-laced/ permanent;
            rewrite ^/marijuana-abuse/signs-of-being-high/?$ https://$host/drug-abuse/marijuana/signs-of-being-high/ permanent;
            rewrite ^/marijuana-abuse/spice-side-effects/?$ https://$host/drug-abuse/marijuana/spice-side-effects/ permanent;
            rewrite ^/marijuana-abuse/what-is-a-dab/?$ https://$host/drug-abuse/marijuana/what-is-a-dab/ permanent;
            rewrite ^/mdpv-abuse/?$ https://$host/drug-abuse/mdpv/  permanent;
            rewrite ^/mdpv-abuse/signs/?$ https://$host/drug-abuse/mdpv/signs/  permanent;
            rewrite ^/mdpv-abuse/withdrawal-effects/?$ https://$host/drug-abuse/mdpv/withdrawal-effects/ permanent;
            rewrite ^/medicated-detox/?$ https://$host/medical-detox/benefits/ permanent;
            rewrite ^/meloxicam-abuse/?$ https://$host/drug-abuse/meloxicam/  permanent;
            rewrite ^/meloxicam-abuse/side-effects/?$ https://$host/drug-abuse/meloxicam/side-effects/ permanent;
            rewrite ^/meloxicam-abuse/signs-and-symptoms/?$ https://$host/drug-abuse/meloxicam/signs-and-symptoms/ permanent;
            rewrite ^/mental-illness-and-substance-abuse/?$ https://$host/mental-illness/ permanent;
            rewrite ^/mescaline-abuse/?$ https://$host/drug-abuse/mescaline/ permanent;
            rewrite ^/meth-addiction/?$ https://$host/drug-abuse/meth-addiction/ permanent;
            rewrite ^/methadone-abuse-and-detox/?$ https://$host/drug-abuse/methadone/ permanent;
            rewrite ^/methadone-abuse-and-detox/alternatives/?$ https://$host/drug-abuse/methadone/treatment-alternatives/  permanent;
            rewrite ^/methadone-abuse-and-detox/how-long-in-body/?$ https://$host/drug-abuse/methadone/how-long-in-body/ permanent;
            rewrite ^/methadone-abuse-and-detox/liquid/?$ https://$host/drug-abuse/methadone/liquid/ permanent;
            rewrite ^/methadone-abuse-and-detox/tapering/?$ https://$host/drug-abuse/methadone/tapering/ permanent;
            rewrite ^/methadone-dangers/?$ https://$host/drug-abuse/methadone/dangers/ permanent;
            rewrite ^/methylone-abuse/?$ https://$host/drug-abuse/methylone/  permanent;
            rewrite ^/methylone-abuse/use/?$ https://$host/drug-abuse/methylone/signs-of-use/ permanent;
            rewrite ^/methylone-abuse/withdrawal/?$ https://$host/drug-abuse/methylone/withdrawal/ permanent;
            rewrite ^/mood-disorders/?$ https://$host/mental-illness/mood-disorders/ permanent;
            rewrite ^/mood-disorders/addictive-personalities/?$ https://$host/mental-illness/mood-disorders/addictive-personalities/ permanent;
            rewrite ^/mood-disorders/bipolar-disorder/?$ https://$host/mental-illness/mood-disorders/bipolar/ permanent;
            rewrite ^/mood-disorders/bpd-and-substance-abuse/?$ https://$host/mental-illness/mood-disorders/borderline-personality-disorder/ permanent;
            rewrite ^/mood-disorders/depression-and-anxiety/?$ https://$host/mental-illness/mood-disorders/depression-and-anxiety/ permanent;
            rewrite ^/mood-disorders/substance-abuse-correlation/?$ https://$host/mental-illness/mood-disorders/substance-abuse-correlation/ permanent;
    /etc/nginx/conf.d/redirects/02.conf:
        mode: '000644'
        owner: root
        group: root
        content: |
            rewrite ^/mushroom-abuse/?$ https://$host/drug-abuse/mushrooms/ permanent;
            rewrite ^/nalbuphine-use/?$ https://$host/drug-abuse/nalbuphine/  permanent;
            rewrite ^/nalbuphine-use/detox/?$ https://$host/drug-abuse/nalbuphine/detox/ permanent;
            rewrite ^/narcolepsy/?$ https://$host/medical-condition/narcolepsy-and-addiction/ permanent;
            rewrite ^/nembutal-abuse/?$ https://$host/drug-abuse/nembutal/  permanent;
            rewrite ^/nembutal-abuse/withdrawal-symptoms/?$ https://$host/drug-abuse/nembutal/withdrawal-symptoms/ permanent;
            rewrite ^/non-opioid-agonists-abuse/?$ https://$host/addiction-research/non-opioid-agonists-abuse/ permanent;
            rewrite ^/norco-dangers/?$ https://$host/drug-abuse/norco-dangers/ permanent;
            rewrite ^/norco-dangers/withdrawal-effects/?$ https://$host/drug-abuse/norco-dangers/withdrawal-effects/ permanent;
            rewrite ^/ocd-and-addiction/?$ https://$host/mental-illness/ocd/ permanent;
            rewrite ^/opioid-abuse-pregnancy/?$ https://$host/drug-abuse/opioid-during-pregnancy/ permanent;
            rewrite ^/opioid-agonists-abuse/?$ https://$host/drug-abuse/opioid-agonists-prevention-risks/  permanent;
            rewrite ^/opioid-detox/?$ https://$host/drug-abuse/opioid-detox/  permanent;
            rewrite ^/outpatient/?$ https://$host/addiction-research/outpatient/ permanent;
            rewrite ^/outpatient/different-types-therapy-addiction/?$ https://$host/addiction-research/outpatient/types-therapy/ permanent;
            rewrite ^/outpatient/different-types-therapy-addiction/psychotherapy/?$ https://$host/addiction-research/outpatient/types-therapy/psychotherapy/ permanent;
            rewrite ^/outpatient/pros-of-group-recovery/?$ https://$host/addiction-research/outpatient/pros-of-group-recovery/ permanent;
            rewrite ^/oxide-noz-abuse/?$ https://$host/drug-abuse/nitrous-oxide/ permanent;
            rewrite ^/parents-guide-synthetic-drugs/?$ https://$host/addiction-research/parents-guide-synthetic-drugs/ permanent;
            rewrite ^/parents-guide-synthetic-drugs/mephedrone/?$ https://$host/drug-abuse/mephedrone/ permanent;
            rewrite ^/parents-guide-synthetic-drugs/mephedrone/signs-and-symptoms/?$ https://$host/drug-abuse/mephedrone/signs-and-symptoms/  permanent;
            rewrite ^/parents-guide-synthetic-drugs/mephedrone/withdrawal/?$ https://$host/drug-abuse/mephedrone/withdrawal/  permanent;
            rewrite ^/partial-hospitalization-program/?$ https://$host/addiction-research/partial-hospitalization-program/ permanent;
            rewrite ^/partial-hospitalization-program/average-length-stay/?$ https://$host/addiction-research/partial-hospitalization-program/average-length-stay/ permanent;
            rewrite ^/perceptions-of-addiction/?$ https://$host/addiction-research/perceptions-of-addiction/ permanent;
            rewrite ^/percocet-abuse/?$ https://$host/drug-abuse/percocet/ permanent;
            rewrite ^/percocet-abuse/college/?$ https://$host/drug-abuse/percocet/college/ permanent;
            rewrite ^/prednisone-abuse/?$ https://$host/drug-abuse/prednisone/  permanent;
            rewrite ^/prednisone-abuse/prednisone-side-effects/?$ https://$host/drug-abuse/prednisone/side-effects/  permanent;
            rewrite ^/prescription-medication/?$ https://$host/addiction-research/prescription-medication/ permanent;
            rewrite ^/prescription-medication/abuse/?$ https://$host/addiction-research/prescription-medication/abuse/ permanent;
            rewrite ^/prescription-medication/butalbital/?$ https://$host/addiction-research/prescription-medication/butalbital/ permanent;
            rewrite ^/promethazine-abuse/?$ https://$host/drug-abuse/promethazine/  permanent;
            rewrite ^/promethazine-abuse/withdrawal-effects/?$ https://$host/drug-abuse/promethazine/withdrawal-effects/  permanent;
            rewrite ^/propylhexedrine-effects/?$ https://$host/drug-abuse/propylhexedrine/  permanent;
            rewrite ^/rational-emotive-behavior-therapy/?$ https://$host/addiction-research/rational-emotive-behavior-therapy/ permanent;
            rewrite ^/recovery-community/?$ https://$host/addiction-research/recovery-community/ permanent;
            rewrite ^/research-articles/?$ https://$host/addiction-research/ permanent;
            rewrite ^/residential-treatment/?$ https://$host/addiction-research/residential-treatment/ permanent;
            rewrite ^/residential-treatment/benefits/?$ https://$host/addiction-research/residential-treatment/benefits/ permanent;
            rewrite ^/residential-treatment/co-occurring-disorders/?$ https://$host/addiction-research/residential-treatment/co-occurring-disorders/ permanent;
            rewrite ^/residential-treatment/different-types/?$ https://$host/addiction-research/residential-treatment/different-types/ permanent;
            rewrite ^/residential-treatment/mental-illnesses/?$ https://$host/addiction-research/residential-treatment/mental-illnesses/ permanent;
            rewrite ^/residential-treatment/what-to-look-for/?$ https://$host/addiction-research/residential-treatment/what-to-look-for/ permanent;
            rewrite ^/robotripping/?$ https://$host/drug-abuse/robotripping/  permanent;
            rewrite ^/roles-of-neurotransmitters/?$ https://$host/addiction-research/roles-of-neurotransmitters/ permanent;
            rewrite ^/schizoaffective-disorders/?$ https://$host/mental-illness/schizoaffective-disorders/ permanent;
            rewrite ^/southern-california-rehab-guide/?$ https://$host/addiction-research/southern-california-rehab-guide/ permanent;
            rewrite ^/southern-california-rehab-guide/hollywood-resources/?$ https://$host/addiction-research/southern-california-rehab-guide/hollywood-resources/ permanent;
            rewrite ^/southern-california-rehab-guide/hollywood/?$ https://$host/addiction-research/southern-california-rehab-guide/hollywood/ permanent;
            rewrite ^/southern-california-rehab-guide/irvine/?$ https://$host/addiction-research/southern-california-rehab-guide/irvine/ permanent;
            rewrite ^/southern-california-rehab-guide/laguna-niguel-resources/?$ https://$host/addiction-research/southern-california-rehab-guide/laguna-niguel-resources/ permanent;
            rewrite ^/southern-california-rehab-guide/los-angeles-resources/?$ https://$host/addiction-research/southern-california-rehab-guide/los-angeles-resources/ permanent;
            rewrite ^/southern-california-rehab-guide/los-angeles/?$ https://$host/addiction-research/southern-california-rehab-guide/los-angeles/ permanent;
            rewrite ^/southern-california-rehab-guide/mission-viejo-resources/?$ https://$host/addiction-research/southern-california-rehab-guide/mission-viejo-resources/ permanent;
            rewrite ^/southern-california-rehab-guide/orange-county-rehab-guide/?$ https://$host/addiction-research/southern-california-rehab-guide/orange-county-rehab-guide/ permanent;
            rewrite ^/southern-california-rehab-guide/orange-county-resources/?$ https://$host/addiction-research/southern-california-rehab-guide/orange-county-resources/ permanent;
            rewrite ^/southern-california-rehab-guide/orange-county/?$ https://$host/addiction-research/southern-california-rehab-guide/orange-county/ permanent;
            rewrite ^/southern-california-rehab-guide/san-diego-resources/?$ https://$host/addiction-research/southern-california-rehab-guide/san-diego-resources/ permanent;
            rewrite ^/southern-california-rehab-guide/san-diego/?$ https://$host/addiction-research/southern-california-rehab-guide/san-diego/ permanent;
            rewrite ^/stress-substance-abuse/?$ https://$host/mental-illness/stress-substance-abuse/ permanent;
            rewrite ^/stress-substance-abuse/self-harm/?$ https://$host/mental-illness/stress-substance-abuse/self-harm/ permanent;
            rewrite ^/suboxone-abuse/?$ https://$host/drug-abuse/suboxone/ permanent;
            rewrite ^/suboxone-abuse/dangers/?$ https://$host/drug-abuse/suboxone/dangers/ permanent;
            rewrite ^/suboxone-abuse/detox/?$ https://$host/drug-abuse/suboxone/detox/ permanent;
            rewrite ^/suboxone-abuse/pregnant-women/?$ https://$host/drug-abuse/suboxone/pregnant-women/ permanent;
            rewrite ^/suboxone-abuse/withdrawal-medicine/?$ https://$host/drug-abuse/suboxone/withdrawal-medicine/ permanent;
            rewrite ^/suboxone-abuse/withdrawal-symptoms/?$ https://$host/drug-abuse/suboxone/withdrawal-symptoms/ permanent;
            rewrite ^/substance-use-treatment-in-america/?$ https://$host/drug-abuse/treatment-in-america/  permanent;
            rewrite ^/subutex-abuse/?$ https://$host/drug-abuse/subutex/  permanent;
            rewrite ^/supervised-injection-facilities/?$ https://$host/addiction-research/supervised-injection-facilities/ permanent;
            rewrite ^/tramadol-effects/?$ https://$host/drug-abuse/tramadol/  permanent;
            rewrite ^/tramadol-effects/symptoms-of-overdose/?$ https://$host/drug-abuse/tramadol/symptoms/  permanent;
            rewrite ^/tramadol-effects/withdrawal/?$ https://$host/drug-abuse/tramadol/withdrawal/  permanent;
            rewrite ^/understanding-addictive-behavior/?$ https://$host/addiction-research/ permanent;
            rewrite ^/use-molly-club-drugs-among-college-students/?$ https://$host/drug-abuse/molly/  permanent;
            rewrite ^/vivitrol-abuse/?$ https://$host/drug-abuse/vivitrol/  permanent;
            rewrite ^/war-on-drugs/?$ https://$host/addiction-research/war-on-drugs/ permanent;
            rewrite ^/xanax-addiction/?$ https://$host/drug-abuse/xanax/  permanent;
            rewrite ^/xanax-addiction/how-to-wean-off/?$ https://$host/drug-abuse/xanax/how-to-wean-off/  permanent;
            rewrite ^/xanax-addiction/quitting-cold-turkey/?$ https://$host/drug-abuse/xanax/quitting/  permanent;
            rewrite ^/medical-detox/seek-treatment/?$ https://$host/addiction-research/time-to-seek-treatment/ permanent;
            rewrite ^/drug-abuse/anabolic-steroids/withdrawal-timeline/?$ https://$host/drug-abuse/anabolic-steroids/ permanent;
            rewrite ^/addiction-research/outpatient/pros-of-group-recovery/?$ https://$host/addiction-research/outpatient/group-therapy-in-recovery/ permanent;
            #FACILITY-1189
            rewrite ^/detox-hospital-california/what-to-expect/?$ https://$host/detox-hospital-california/admissions/ permanent;
            #FACILITY-1088
            rewrite ^/hippa-policy/?$ https://$host/hipaa-policy/ permanent;
            #FACILITY-1564
            rewrite ^/detox-hospital-california/aftercare/?$ https://$host/detox-hospital-california/aftercare-at-laguna/ permanent;
            #FACILITY-1676
            rewrite ^/addiction-research/southern-california-rehab-guide/orange-county-resources/?$ https://$host/addiction-research/southern-california-rehab-guide/orange-county/ permanent;
            #FACILITY-1855
            rewrite ^/drug-abuse/subutex/?$ https://$host/drug-abuse/suboxone/ permanent;
            rewrite ^/alcohol-abuse/detox/?$ https://$host/alcoholism/withdrawal/ permanent;
            #FACILITY-1893
            rewrite ^/addiction-blog/tag/hotlines/?$ https://$host/addiction-research/time-to-seek-treatment/hotlines/ permanent;
            #FACILITY-1953
            rewrite ^/drug-abuse/ambien/addiction/?$ https://$host/drug-abuse/ambien/ permanent;
            #FACILITY-2813
            rewrite ^/addiction-research/southern-california-rehab-guide/los-angeles-resources/?$ https://$host/addiction-research/southern-california-rehab-guide/los-angeles/ permanent;
            #FACILITY-2705
            rewrite ^/blog/$ https://$host/addiction-blog/ permanent;
            rewrite ^/addiction-blog/(.+) https://$host/blog/$1 permanent;
            rewrite ^/addiction-blog/tag/$ https://$host/blog/tag/ permanent;
            rewrite ^/addiction-blog/tag/(.+) https://$host/blog/tag/$1 permanent;
            #FACILITY-2925
            rewrite ^/addiction-research/southern-california-rehab-guide/hollywood/?$ https://$host/addiction-research/southern-california-rehab-guide/hollywood-resources/ permanent;
            rewrite ^/addiction-research/southern-california-rehab-guide/san-diego-resources/?$ https://$host/addiction-research/southern-california-rehab-guide/san-diego/ permanent;
